<h1>Edit a Blog Post</h1>

<section>
<%= form_for @mytask, url: update_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :complete %>
<%= f.check_box :finished %>
<%= f.submit %>
<%end%>
</section>



<!-- <form name="edit-post" action="update" method="post">
  <input type="hidden" name="_method" value="PUT">
<label for="title">Title:</label>
<input type="text" name="title" id="title" value="<%= @mytask[:title] %>">

<label for="description">description</label>
<textarea id="description" name="description" rows="8" cols="40" ><%= @mytask[:description]%></textarea>
<%= tag(:input, :type => "hidden",
   :name => request_forgery_protection_token.to_s,
   :value => form_authenticity_token) %>

   <label for="finished">Task Completed</label>
   <input type="checkbox" name="finished" id="finished" value="<%= @mytask[:finished] %>">

<button type="submit">Submit</button>
</form> -->
